.ButtonDiv{
    padding: 5px;
    margin: 5px;
    display: inline-block;
    float: right;
}
.Edit{
    display:inline-block;
    width:50px;
    height:50px;
    line-height:50px;
    border-radius: 50%;
    color:#fff;
    text-align:center;
    text-decoration:none;
    vertical-align: middle;
    font-size:2rem;
    font-weight:bold;
    outline: none;
    overflow: hidden;
    padding: 0;
    margin:0 auto;
    box-shadow: rgba(0, 0, 0, 0.185) 1px 2px;
    transition: 0.3s;
    border:none;
    background: #00897B;
box-shadow: rgba(0, 0, 0, 0.185) 1px 2px;

}

.Edit:hover{
transform: translateY(-2px);
box-shadow: rgba(0, 0, 0, .18) 1px 4px;
}
.Edit:active{
    transform: translateY(2px);
    box-shadow: none;
}

@media only screen and (max-width: 950px) {
    .ButtonDiv {
       
        float: none;
        

    }
}