@font-face {
    font-family: "gg";
    src: url(../../assets/Fonts/Gotham-Rounded-Book.ttf)
    }
    @font-face {
        font-family: "gg-light";
        src: url(../../assets/Fonts/Gotham-Rounded-Light.ttf)
        }

        @font-face {
            font-family: "gg-medium";
            src: url(../../assets/Fonts/Gotham-Rounded-Medium.ttf)
            }

.Home{
    width:100%;
    height:100vh;
    margin:10px;
    position:relative;
    font-family: "gg";
    
    
}
.Center{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    
    /* border:1px #000 solid; */
    
}
.Head{
    width: 100%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
 
    
}
.Image{

    display: inline-block;
    margin: 5px;
    width:15%;
}
.Content{

    display: inline-block;
    padding: 10px;
}
.Button{
    font-family: "gg-light";
    position: relative;
    top:50%; 
    left:50%;
    transform: translateX(-50%);
  width: 260px;
  font-size: 0.5rem;
  height: 70px;
  font-size: 2rem;
  border-radius: 100px; 
  text-decoration: none;
  text-align: center;
  background: none;
  color: white;
  background: linear-gradient(to top, #0C959B , #04ABA3);
  border: 1px solid #0C959B;
  border-radius: 10px;
  overflow: hidden;
  box-shadow:#1C5858 0px 4px; 
 

}

.Button:focus{
    outline:none;
    box-shadow: none;
    
}

