
.Container{
    font-family: "gg-light";
    color:rgb(100, 100, 100);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 2px;
    box-sizing: border-box;
    
    
}
.Row:after {
    content: "";
    display: table;
    clear: both;
    
}

.Col20 {
    float: left;
    width: 10%;
    margin-top: 6px;
    align-content: center;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 30px;
    
   
}
.Col80{
    float: left;
    width: 90%;
    margin-top: 6px;
}
.Image{
    border-radius: 50%;
    object-fit: cover;
    width:auto;
    height: 50px;
    width: 50px;
    left: 50%;
}
.Desc{
    padding: 2px;
    margin-bottom: 10px;
}

@media only screen and (max-width:900px){
    .Col20,.Col80{
        width:100%;
    }
    .Container{
        text-align: center;
        padding:20px;
    }
}
