.Container{
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    width:100%;
    
    
   
}

.Header{
    position: inherit;
    display: inline-block;
    margin:0;
    padding: 5px 5px;
    width:50%;
    top: 50%;
    border-radius: 10px;
    background:linear-gradient(to top,#7f7fff,#6666ff);
    font-family: 'gg';
    color: #fff;
    word-wrap: break-word;
    /* display:block; */
    
    /* position: relative;
   
    padding: 0;
    margin: 10px 0;

    box-shadow: rgba(44, 43, 43, 0.37) 1px 3px;
    letter-spacing: 0.5rem; */
}

@media only screen and (max-width: 600px) {
    .Header {
        
    /* width:100%; */
    }
}