.Task{
display: inline-block;
position: relative;
width: 95%;
left:50%;
    transform: translateX(-50%);
    margin: 10px 0px;
    background: #4e6170;
border-radius: 7px;
box-shadow: rgba(44, 43, 43, 0.2) 1px 3px;
color:#fff;
border: 2px solid #000;


}
.Task::after {
    content: "";
    clear: both;
    display: table;
   
}

.BodyContainer{
    position: relative;
    display:inline-block;
    float: left;
    padding: 10px;
    width:80%;
    word-wrap: break-word;

}
.Title{
    display: inline-block;

    text-emphasis: bold;
    font-size: 1.3rem;
    text-transform: capitalize;
    margin-bottom: 8px;
    float: left;
    width:20%;
    letter-spacing: 0.1rem;
}
.Header{
    display: block;
    width:100%;
    text-emphasis: bold;
    font-size: 1.3rem;
    text-transform: capitalize;
    margin-bottom: 8px;
    
}
.Header::after {
    content: "";
    clear: both;
    display: table;
}
.DueDate{
    display: inline-block;
    
    float: right;
    width:70;
    letter-spacing: 0.1rem;
    font-weight: bold;
}
.Body{
    display: inline-block;
    width:100%;

word-wrap: break-word;
}
.Body::after {
    content: "";
    clear: both;
    display: table;
}