.Modal {
    display: inline-block;
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    margin:0px 30%;
    top: 30%;
    width:40%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    text-align: center;
}

.Close{
    display:inline;
    float: right;
    text-decoration: none;
    color: #ccc;
    cursor: pointer;
}

@media (max-width: 900px) {
    .Modal {
        display: inline-block;

        width: 80%;
        left: 10%;
        top:20%;
        
        margin:0px;
        
        box-sizing: none;
        transition: all 0.3s ease-out;
        text-align: center;
        
    }
}